<% provide(:title, @venue.name) %> 
<h1><%= @venue.name %></h1>

<div class="tabs">

   <div class="tab">
   	<% @s1.each do |gig| %>
       <input type="radio" id="tab-1" name="tab-group-1" checked>
       <label for="tab-1">
			<%= gig.band.name.titleize + ' ... ' + gig.time %>
       </label>
       <div class="tabcontent">
	       <div class="row">
          <h3>
            <%= gig.band.name.titleize %>
          </h3>
			   <%= render 'tab' %>
			  <div class="profile">
			    <% if @band.posts.any? %>
			      <h3>Digs (<%= @band.posts.count %>)</h3>
			      <ol class="posts">
			        <%= render @posts %>
			      </ol>
			      <%= will_paginate @posts %>
			    <% end %>
			  </div>
			</div> 
       </div> 
    <% end %> 
   </div>
    
   <div class="tab">
   	 <% @s2.each do |gig| %>
       <input type="radio" id="tab-2" name="tab-group-1">
       <label for="tab-2">
			<%= gig.band.name.titleize + ' ... ' + gig.time %>
       </label>
       <div class="tabcontent">
			<div class="row">
          <h3>
            <%= gig.band.name.titleize %>
          </h3>
         <%= render 'tab' %>
        <div class="profile">
          <% if @band.posts.any? %>
            <h3>Digs (<%= @band.posts.count %>)</h3>
            <ol class="posts">
              <%= gig.band.posts %>
            </ol>
            <%= will_paginate @posts %>
          <% end %>
        </div>
      </div>      
  		</div> 
  	  <% end %>
   </div>
    
    <div class="tab">
      <% @s3.each do |gig| %>
       <input type="radio" id="tab-3" name="tab-group-1">
       <label for="tab-3">
			<%= gig.band.name.titleize + ' ... ' + gig.time %>
       </label>
       <div class="tabcontent">
           <div class="row">
            <h3>
              <%= gig.band.name.titleize %>
            </h3>
         <%= render 'tab' %>
        <div class="profile">
          <% if @band.posts.any? %>
            <h3>Digs (<%= @band.posts.count %>)</h3>
            <ol class="posts">
              <%= render @posts %>
            </ol>
            <%= will_paginate @posts %>
          <% end %>
        </div>
      </div>
      <% end %> 
   </div>
    
</div>





<!--
	<%= tabs_tag(:builder => MenuTabBuilder) do |tab| %>
	  <%= tab.first        	 @gigs, '#', :style => 'width: 30%;' %>
	  <%= tab.second  		 @s2, 	'#', :style => 'width: 30%;' %>
	  <%= tab.third     	 @s3, 	'#', :style => 'width: 30%;' %>
	  <%= tab.back     		 'Venue', 	venues_path, :style => 'width: 10%;' %>
	<% end %>


<div class="row">
 	<h2>No Gigs scheduled today at <%= @venue.name %>. Check out a different date or venue.</h2>
  <aside class="span4">
    <section>
    
    </section>
  </aside>
</div>

<ul class="venues">
  <% @s1.each do |gig| %>
    <li>
    	<div id="vname"><%= link_to gig.band.name.titleize, gig %></div>
    	<div id="vinfo"><%= link_to gig.time, gig %></div>
	</li>
  <% end %>
</ul>

<div class="tabbed-area">
	<ul class="tabs group">
		<% @s1.each do |gig| %>
	    <li>
    		<div><%= link_to gig.band.name.titleize + ' ... ' + gig.time, '#' %></div>
    	</li>
	    <% end %>	
	</ul>
</div>

-->







