<% provide(:title, @vname) %>
<h1><%= @vname %></h1>

<%= tabs_tag(:builder => MenuTabBuilder) do |tab| %>
  <%= tab.first        	 @sname.titleize, 	root_path, :style => 'width: 30%;' %>
  <%= tab.second  		'slot 2', 	'#', :style => 'width: 30%;' %>
  <%= tab.third     	'slot 3', 	'#', :style => 'width: 30%;' %>
  <%= tab.back     		'Venues', 	venues_path, :style => 'width: 10%;' %>
<% end %>





